:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    max-width: 840px;
    margin: 0 auto;
    
}

h1, h2 {
    font-family: var(--heading-font);
    color: #fff;
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

nav a {
    text-decoration: none;
    color: var(--accent1-color);
    font-weight: bold;
}

.socialmedia a {
    text-decoration: none;
}

.linkedin-logo {
    width: 17px;
}

.hero {
    position: relative;
    width: 100%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}

section h2{
    background-color: var(--accent1-color);
    color: #fff;
    text-align: center;
    padding: 12px;
    margin-top: 40px;
}
 /*
.socialmedia img {
    width: 32px;
    margin-right: 10px;
}

.hero-bg {
    width: 100%;
    height: auto;
    display: block;
}

/* TÍTULO DE LA HERO 
.hero h1 {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    background: rgba(0, 0, 0, 0.45);
}

/* CAJA AMARILLA 
.hero-box {
    position: absolute;
    top: 150px;
    left: 40px;
    right: 40px;
    background-color: var(--accent2-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #d6b253;
}

/* TEXTO EN LA CAJA 
.hero-box p {
    width: 70%;
    color: #000;
    font-size: 1rem;
    line-height: 1.4rem;
}

/* IMAGEN PEQUEÑA EN LA CAJA 
.hero-side-img {
    width: 160px;
    height: auto;
    border: 3px solid #d6b253;
}

/* SECCIONES 
section {
    margin-top: 40px;
}
