:root {
   /* --primary-color: #055a05;
    --secondary-color: #f4a261;*/
    --accent1-color: #264653;
    /*--accent2-color: #e9c46a;*/
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    max-width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    background-color: #d1c4f3;
    padding: 20px;
    border-radius: 8px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: #fff;
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

nav a {
    text-decoration: none;
    color: var(--accent1-color);
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 4px;
}

nav a:hover {
    background: #fff;
    border: 1px solid #aaa;
}

nav ul{
    display: flex;
    gap: 25px;
    list-style: none;
    justify-content: flex-end;
}

.socialmedia a {
    text-decoration: none;
}



.hero {
    position: relative;
    width: 100%;
}

.hero article {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: rgba(38, 70, 83, 0.8);
    color: #fff;
    padding: 16px;
    border-radius: 8px;
}

.hero article img {
    width: 120px;
    float: right;
    margin-left: 12px;
    border-radius: 6px;
}


h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}


section h2{
    background-color: var(--accent1-color);
    color: #fff;
    text-align: center;
    padding: 12px;
    margin-top: 40px;
}

section:first-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    max-width: 900px;
    margin: 40px auto;
    align-items: center;
}

section:first-of-type h2 {
    grid-column: 1 / 4;
    background: var(--accent1-color);
    color: white;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    font-family: var(--heading-font);
}

section:last-of-type {
    max-width: 900px;
    margin: 50px auto;
}

section:last-of-type h2 {
    background: var(--accent1-color);
    color: white;
    padding: 12px;
    margin-bottom: 25px;
    text-align: center;
    border-radius: 6px;
    font-family: var(--heading-font);
}

section:last-of-type figure {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

section:last-of-type img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 6px;
}

section:last-of-type figcaption {
    margin-top: 8px;
    font-size: 14px;
}


.hero h1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(38, 70, 83, 0.7); /* var(--accent1-color) con transparencia */
    padding: 16px 24px;
    color: #fff;
    width: auto;
    border-radius: 8px;
}

footer nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

footer img {
    width: 30px;
}
