:root {
    /*--primary-color: #055a05;
    --secondary-color: #f4a261;*/
    --accent1-color: #264653;
    /*--accent2-color: #e9c46a;*/
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    max-width: 840px;
    margin: 0 auto;
    
}

h1, h2 {
    font-family: var(--heading-font);
    color: #fff;
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

nav a {
    text-decoration: none;
    color: var(--accent1-color);
    font-weight: bold;
}

.socialmedia a {
    text-decoration: none;
}

.linkedin-logo {
    width: 17px;
}

.hero {
    position: relative;
    width: 100%;
}

.hero article {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: rgba(38, 70, 83, 0.8);
    color: #fff;
    padding: 16px;
    border-radius: 8px;
}

.hero article img {
    width: 120px;
    float: right;
    margin-left: 12px;
    border-radius: 6px;
}


h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}


section h2{
    background-color: var(--accent1-color);
    color: #fff;
    text-align: center;
    padding: 12px;
    margin-top: 40px;
}

.hero h1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(38, 70, 83, 0.7); /* var(--accent1-color) con transparencia */
    padding: 16px 24px;
    color: #fff;
    width: auto;
    border-radius: 8px;
}

