.callout {
	max-width: 400px;
    margin: 10px;
    border: 1px solid rgb(0 0 0 /0.1);
    padding: 15px;
    background-color: #247;
    color: white;
}

.callout img {
	float: right;
    margin: 0 0 10px 15px;
    border: 1px solid 800;
    padding: 3px;
    background-color: rgb(190, 190, 190);
    width: 100px;
    height: auto;
}

blockquote {
	margin: 0;
}

cite {
	display: block;
    border-top: 1px dotted #fff;
    text-align: right;
    font-size: smaller;
}